.gamecard
{
	opacity: 0.75;
	transition: 100ms;
	background-color: alpha(#999, 0.5);
	color: white;
	-gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.gamecard, .gamecard border
{
	border: none;
	border-radius: 4px;
}

.gamecard.installed, .gamecard.static
{
	opacity: 1;
}

.gamecard.hover:not(.installed),
.games-grid flowboxchild:focus .gamecard:not(.installed),
.games-grid flowboxchild:selected .gamecard:not(.installed)
{
	opacity: 0.8;
}

.gamecard label
{
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	margin-top: 16px;
	font-size: 1.3em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.gamecard label.status
{
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.9em;
	margin-top: -8px;
	margin-bottom: -16px;
	opacity: 0;
	transition: 100ms;
}

.gamecard.installing label.status,
.gamecard.hover label.status,
.gamecard.running label.status,
.games-grid flowboxchild:focus .gamecard label.status,
.games-grid flowboxchild:selected .gamecard label.status
{
	margin-bottom: 0px;
	opacity: 1;
}

.gamecard.downloading label.status,
.gamecard.downloading.hover label.status,
.games-grid flowboxchild:focus .gamecard.downloading label.status,
.games-grid flowboxchild:selected .gamecard.downloading label.status
{
	margin-bottom: 8px;
	opacity: 1;
}

.gamecard .info
{
	background-color: transparent;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	border-radius: 0 0 4px 4px;
	border: none;
	outline: none;
	box-shadow: none;
}

.gamecard .scrim
{
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px rgba(0, 0, 0, 0.6) solid;
	border-radius: 4px;
	transition: 100ms;
}

.gamecard.installed .scrim, .gamecard.static .scrim
{
	background-color: rgba(0, 0, 0, 0);
}

.gamecard.hover .scrim,
.games-grid flowboxchild:focus .gamecard .scrim,
.games-grid flowboxchild:selected .gamecard .scrim
{
	background-color: rgba(0, 0, 0, 0.2);
}

.gamecard.installed.hover .scrim,
.games-grid flowboxchild:focus .gamecard.installed .scrim,
.games-grid flowboxchild:selected .gamecard.installed .scrim
{
	background-color: rgba(255, 255, 255, 0.2);
}

.gamecard .progress
{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	transition: 100ms;
	margin-bottom: -16px;
	opacity: 0;
}

.gamecard.downloading .progress
{
	margin-bottom: 0;
	opacity: 1;
}

.gamecard image
{
	opacity: 0.6;
	transition: 100ms;
}

.gamecard.hover image,
.games-grid flowboxchild:focus image,
.games-grid flowboxchild:selected image
{
	opacity: 0.8;
}

.games-grid flowboxchild
{
	border-radius: 4px;
	padding: 0;
}

.games-grid flowboxchild:focus
{
	background: @theme_selected_bg_color;
}

.gamecard.running .scrim,
.gamecard.hover.running .scrim,
.games-grid flowboxchild:focus .gamecard.running .scrim,
.games-grid flowboxchild:selected .gamecard.running .scrim
{
	background-color: rgba(0, 0, 0, 0.6);
}
.gamecard .running-indicator,
.gamecard .no-image-indicator
{
	opacity: 1;
}

.gamecard .images-download-button
{
	color: white;
	background: alpha(#333, 0.5);
	border-radius: 50%;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	min-width: 28px;
	min-height: 28px;
	padding: 0;
}
.gamecard .images-download-button image
{
	opacity: 1;
}
.gamecard .images-download-button:checked
{
	background: alpha(#333, 0.8);
}
