@import url("colors.css");

window .titlebar.flat .title,
window .titlebar.flat .subtitle,
window .titlebar.flat .titlebutton,
window .titlebar.flat button,
window .titlebar.flat label,
window .titlebar.flat *:not(entry) image
{
	color: @textColorPrimaryDefault;
	text-shadow: 0 1px @textColorPrimaryShadowDefault;
	-gtk-icon-shadow: 0 1px @textColorPrimaryShadowDefault;
}

window .titlebar.flat .title:backdrop,
window .titlebar.flat .subtitle:backdrop,
window .titlebar.flat .titlebutton:backdrop,
window .titlebar.flat button:backdrop,
window .titlebar.flat label:backdrop,
window .titlebar.flat *:not(entry) image:backdrop
{
	color: mix(@textColorPrimaryDefault, @titlebar_color, 0.3);
	text-shadow: none;
	-gtk-icon-shadow: none;
}

window .titlebar:not(.flat) label
{
	color: @textColorPrimary;
	text-shadow: 0 1px @textColorPrimaryShadow;
	-gtk-icon-shadow: 0 1px @textColorPrimaryShadow;
}

window .titlebar:not(.flat) label:backdrop
{
	color: mix(@textColorPrimary, @titlebar_color, 0.3);
	text-shadow: none;
	-gtk-icon-shadow: none;
}

infobar.frame.compat-tool-warning
{
	margin: -1px -3px -1px -7px;
}

infobar.frame.settings-info
{
	margin: -1px -3px -1px -3px;
}

.import-emulated-games-dialog .select-all
{
	margin: 0;
	padding: 0;
}
.import-emulated-games-dialog .select-all > check
{
	margin: 0 12px 0 0;
	padding: 0;
}
.import-emulated-games-dialog .select-all > label
{
	margin: 0;
	padding: 0;
}
.import-emulated-games-dialog .dialog-action-box
{
	margin: 0;
	padding: 0 8px 2px 8px;
}
.import-emulated-games-dialog .dialog-action-area
{
	margin: 0;
	padding: 0;
}
