build/

debian/*
!debian/source/
!debian/changelog.in
!debian/compat
!debian/control.in
!debian/copyright
!debian/rules

flatpak/com.github.tkashkin.gamehub.json
flatpak/.flatpak-builder/

*~

.buildconfig

snap/*
!snap/snapcraft.yaml
