.settings-dialog actionbar, .settings-dialog actionbar > revealer
{
	padding: 0;
}
.settings-dialog actionbar > revealer > box
{
	padding: 4px;
}

.settings-dialog > .dialog-vbox:dir(ltr)
{
	margin-left: -2px;
}

.settings-dialog:dir(ltr)
{
	background-image: linear-gradient(to right,
	                                  shade(@theme_bg_color, 0.95) 200px,
	                                  @borders 200px, @borders 201px,
	                                  transparent 201px, transparent);
}

.settings-dialog > headerbar:dir(ltr)
{
	background-image: linear-gradient(to right,
	                                  alpha(shade(@theme_bg_color, 0.1), 0.05) 200px,
	                                  @borders 200px, @borders 201px,
	                                  transparent 201px, transparent);
}

.settings-dialog > headerbar > .vertical:dir(ltr)
{
	padding-left: 200px;
}

.settings-dialog > .dialog-vbox:dir(rtl)
{
	margin-right: -2px;
}

.settings-dialog:dir(rtl)
{
	background-image: linear-gradient(to left,
	                                  shade(@theme_bg_color, 0.95) 200px,
	                                  @borders 200px, @borders 201px,
	                                  transparent 201px, transparent);
}

.settings-dialog > headerbar:dir(rtl)
{
	background-image: linear-gradient(to left,
	                                  alpha(shade(@theme_bg_color, 0.1), 0.05) 200px,
	                                  @borders 200px, @borders 201px,
	                                  transparent 201px, transparent);
}

.settings-dialog > headerbar > .vertical:dir(rtl)
{
	padding-right: 200px;
}

.settings-dialog > headerbar switch
{
	margin: 0px;
}

.settings-dialog .settings-sidebar-row
{
	padding: 8px;
}

.settings-dialog .settings-pages-sidebar list
{
	background: shade(@theme_bg_color, 0.95);
	margin-bottom: 16px;
}
