Source: com.github.tkashkin.gamehub
Section: x11
Priority: optional
Maintainer: tkashkin <tkashkin@gmail.com>
Build-Depends: meson (>= 0.40),
               valac (>= 0.16),
               debhelper (>= 9),
               libgranite-dev,
               libgtk-3-dev,
               libglib2.0-dev,
               libwebkit2gtk-4.0-dev (<< 2.22.2) | libwebkit2gtk-4.0-dev (= 2.20.1-1),
               libjson-glib-dev,
               libgee-0.8-dev,
               libsoup2.4-dev,
               libsqlite3-dev,
               libxml2-dev
Standards-Version: 4.1.4

Package: com.github.tkashkin.gamehub
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: file-roller, innoextract, wine, dosbox
Suggests: steam
Description: All your games in one place
