#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1
DEB_BUILD_OPTIONS="noopt nostrip nocheck"
DEB_BUILD_MAINT_OPTIONS="noopt nostrip nocheck"
CFLAGS+=-O0

%:
	dh $@

override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_configure:
	mkdir -p debian/build
	cd debian/build && meson --prefix=/usr -Ddistro=debian --buildtype=debug ../..

override_dh_auto_build:
	cd debian/build && ninja -v

override_dh_auto_test:
	cd debian/build && ninja test

override_dh_auto_install:
	cd debian/build && DESTDIR=${CURDIR}/debian/com.github.tkashkin.gamehub ninja install
