.settings-group
{
	padding: 8px;
}
.settings-group-standalone-title
{
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.settings-group > .title,
.settings-group-standalone-title
{
	font-weight: bold;
	margin-bottom: 6px;
}
.settings-dialog .settings-group-standalone-title
{
	margin-top: 12px;
	margin-left: 18px;
	margin-right: 18px;
}

.settings-group .setting:not(.custom-widget-setting):not(.env-variable-setting):not(.provider-setting) > box,
.settings-group .setting:not(.custom-widget-setting):not(.env-variable-setting):not(.provider-setting) > grid,
.settings-group .setting.label-setting > label,
.settings-group .setting.provider-setting > box > grid
{
	padding: 6px 12px;
	min-height: 36px;
}

.settings-group .setting.env-variable-setting entry.flat
{
	margin: 0;
	padding: 6px 12px;
}

.settings-group .setting .description
{
	font-size: 0.9em;
}

.settings-group .setting.list-row,
.settings-group row.setting
{
	border-bottom: 1px @borders solid;
}

.settings-group .setting.list-row:last-child,
.settings-group row.setting:last-child
{
	margin-bottom: -1px;
}

.settings-group .setting.provider-setting .provider-settings
{
	background: alpha(@borders, 0.5);
}

.settings-group .compat-tools-list:dir(ltr)
{
	border-right: 1px @borders solid;
}

.settings-group .compat-tools-list:dir(rtl)
{
	border-left: 1px @borders solid;
}
