.tweak-options-popover
{
	padding: 4px;
}

.tweak-options-popover .list-title
{
	font-weight: bold;
	padding: 4px 10px;
	margin-bottom: 4px;
}

.tweak-options-popover .custom-value
{
	margin: 0 10px;
}

.tweak-options-popover list
{
	background: transparent;
}

.tweak-options-popover list row > box,
.tweak-options-popover list row > grid
{
	padding: 4px 8px;
}

.tweak-options-popover list row .description
{
	font-size: 0.9em;
}

.tweak-options-popover checkbutton, .tweak-options-popover radiobutton,
.tweak-options-popover checkbutton check, .tweak-options-popover radiobutton radio
{
	padding: 0;
	margin: 0;
}

.tweak-options-popover checkbutton, .tweak-options-popover radiobutton
{
	background: transparent;
}
