.gamecard
{
	opacity: 0.75;
	border-radius: 4px;
	transition: 100ms;
	background-color: #999;
	color: white;
}

.gamecard.installed
{
	opacity: 1;
}

.gamecard.hover:not(.installed)
{
	opacity: 0.8;
}

.gamecard label
{
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	margin-top: 16px;
	font-size: 1.3em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.gamecard label.status
{
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.9em;
	margin-top: -8px;
	margin-bottom: -16px;
	opacity: 0;
	transition: 100ms;
}

.gamecard.installing label.status,
.gamecard.hover label.status
{
	margin-bottom: 0px;
	opacity: 1;
}

.gamecard.downloading label.status
{
	margin-bottom: 8px;
	opacity: 1;
}

.gamecard .info
{
	background-color: transparent;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	border-radius: 0 0 4px 4px;
}

.gamecard .actions
{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	transition: 100ms;
}

.gamecard.installed .actions
{
	background-color: rgba(0, 0, 0, 0);
}

.gamecard.hover .actions
{
	background-color: rgba(0, 0, 0, 0.2);
}

.gamecard.installed.hover .actions
{
	background-color: rgba(255, 255, 255, 0.2);
}

.gamecard .progress
{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	transition: 100ms;
	margin-bottom: -16px;
	opacity: 0;
}

.gamecard.downloading .progress
{
	margin-bottom: 0;
	opacity: 1;
}

/* Some granite styles */
.h1
{
	font-size: 24pt;
}
.h2
{
	font-weight: 300;
	font-size: 18pt;
}
.h3
{
	font-size: 11pt;
}
.h4, .category-label
{
	font-weight: bold;
}
.h4, .gameinfo-singleline-value
{
	padding-bottom: 6px;
	padding-top: 6px;
}
.description-header
{
	padding-bottom: 0;
}
list .h4
{
	padding-left: 6px;
}
button label
{
	padding: 0 6px;
}
.card
{
	border: none;
	border-color: transparent;
	box-shadow: 0 0 0 1px alpha(#000, 0.05), 0 3px 3px alpha(#000, 0.22);
	border-radius: 4px;
}
list:not(:backdrop) row:selected:focus label.category-label
{
	color: alpha(#ffffff, 0.8);
}

list.installers-list
{
	background: transparent;
}

list.downloads-list row
{
	background: transparent;
	border-bottom: 1px alpha(#333, 0.3) solid;
	outline: none;
}
list.downloads-list row:last-child
{
	border-bottom: none;
}
list.downloads-list row:selected
{
	background: transparent;
	outline: none;
}
list.downloads-list row:focus
{
	background: transparent;
	outline: none;
}

label.games-list-header
{
	background: alpha(#333, 0.1);
	margin-top: -1px;
	border-top: 1px alpha(#333, 0.3) solid;
	border-bottom: 1px alpha(#333, 0.3) solid;
}