.gamecard
{
	opacity: 0.75;
	border-radius: 4px;
	transition: 100ms;
}

.gamecard.installed
{
	opacity: 1;
}

.gamecard.hover:not(.installed)
{
	opacity: 0.8;
}

.gamecard label
{
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	border-radius: 0 0 4px 4px;
}

.gamecard .actions
{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	transition: 100ms;
}

.gamecard.installed .actions
{
	background-color: rgba(0, 0, 0, 0);
}

.gamecard.hover .actions
{
	background-color: rgba(0, 0, 0, 0.2);
}

.gamecard.installed.hover .actions
{
	background-color: rgba(255, 255, 255, 0.2);
}

.gamecard .progress
{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
}
