.gamecard
{
	opacity: 0.75;
	transition: 100ms;
	background-color: alpha(#999, 0.5);
	color: white;
	-gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.gamecard, .gamecard border
{
	border: none;
	border-radius: 4px;
}

.gamecard.installed, .gamecard.static
{
	opacity: 1;
}

.gamecard.hover:not(.installed),
.games-grid flowboxchild:focus .gamecard:not(.installed),
.games-grid flowboxchild:selected .gamecard:not(.installed)
{
	opacity: 0.8;
}

.gamecard GtkLabel, .gamecard label
{
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	margin-top: 16px;
	font-size: 1.3em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.gamecard GtkLabel.status, .gamecard label.status
{
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.9em;
	margin-top: -8px;
	margin-bottom: -16px;
	opacity: 0;
	transition: 100ms;
}

.gamecard.installing GtkLabel.status, .gamecard.installing label.status,
.gamecard.hover GtkLabel.status, .gamecard.hover label.status,
.gamecard.running GtkLabel.status, .gamecard.running label.status,
.games-grid flowboxchild:focus .gamecard GtkLabel.status, .games-grid flowboxchild:focus .gamecard label.status,
.games-grid flowboxchild:selected .gamecard GtkLabel.status, .games-grid flowboxchild:selected .gamecard label.status
{
	margin-bottom: 0px;
	opacity: 1;
}

.gamecard.downloading GtkLabel.status, .gamecard.downloading label.status
{
	margin-bottom: 8px;
	opacity: 1;
}

.gamecard .info
{
	background-color: transparent;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	border-radius: 0 0 4px 4px;
	border: none;
	outline: none;
	box-shadow: none;
}

.gamecard .actions
{
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px rgba(0, 0, 0, 0.6) solid;
	border-radius: 4px;
	transition: 100ms;
}

.gamecard.installed .actions, .gamecard.static .actions
{
	background-color: rgba(0, 0, 0, 0);
}

.gamecard.hover .actions,
.games-grid flowboxchild:focus .gamecard .actions,
.games-grid flowboxchild:selected .gamecard .actions
{
	background-color: rgba(0, 0, 0, 0.2);
}

.gamecard.installed.hover .actions,
.games-grid flowboxchild:focus .gamecard.installed .actions,
.games-grid flowboxchild:selected .gamecard.installed .actions
{
	background-color: rgba(255, 255, 255, 0.2);
}

.gamecard .progress
{
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	transition: 100ms;
	margin-bottom: -16px;
	opacity: 0;
}

.gamecard.downloading .progress
{
	margin-bottom: 0;
	opacity: 1;
}

.gamecard image
{
	opacity: 0.6;
	transition: 100ms;
}

.gamecard.hover image,
.games-grid flowboxchild:focus image,
.games-grid flowboxchild:selected image
{
	opacity: 0.8;
}

.games-grid flowboxchild
{
	border-radius: 4px;
	padding: 0;
}

.games-grid flowboxchild:focus
{
	background: @theme_selected_bg_color;
}

.gamecard.running .actions,
.gamecard.hover.running .actions,
.games-grid flowboxchild:focus .gamecard.running .actions,
.games-grid flowboxchild:selected .gamecard.running .actions
{
	background-color: rgba(0, 0, 0, 0.6);
}
.gamecard .running-indicator
{
	opacity: 1 !important;
}

/* Some granite styles */
.h1
{
	font-size: 24pt;
}
.h2
{
	font-weight: 300;
	font-size: 18pt;
}
.h3
{
	font-size: 11pt;
}
.h4, .category-label
{
	font-weight: bold;
}
.h4, .gameinfo-singleline-value
{
	padding-bottom: 6px;
	padding-top: 6px;
}
.description-header
{
	padding-bottom: 0;
}
GtkList .h4, list .h4
{
	padding-left: 6px;
}
GtkButton GtkLabel, button label
{
	padding: 0 6px;
}
.card
{
	border: none;
	border-color: transparent;
	box-shadow: 0 0 0 1px alpha(#000, 0.05), 0 3px 3px alpha(#000, 0.22);
	border-radius: 4px;
}
GtkListBox:not(:backdrop) .list-row:selected:focus GtkLabel.category-label,
list:not(:backdrop) row:selected:focus label.category-label
{
	color: alpha(#ffffff, 0.8);
}

GtkListBox.installers-list,
list.installers-list
{
	background: transparent;
}


GtkListBox.installers-list .list-row,
list.installers-list row
{
	border-radius: 2px;
}

GtkListBox.downloads-list .list-row,
list.downloads-list row
{
	background: transparent;
	border-bottom: 1px alpha(#333, 0.3) solid;
	outline: none;
}
GtkListBox.downloads-list .list-row:last-child,
list.downloads-list row:last-child
{
	border-bottom: none;
}
GtkListBox.downloads-list .list-row:selected,
list.downloads-list row:selected
{
	background: transparent;
	outline: none;
}
GtkListBox.downloads-list .list-row:focus,
list.downloads-list row:focus
{
	background: transparent;
	outline: none;
}

GtkLabel.games-list-header,
label.games-list-header
{
	background: alpha(#333, 0.1);
	margin-top: -1px;
	border-top: 1px alpha(#333, 0.3) solid;
	border-bottom: 1px alpha(#333, 0.3) solid;
}

.gameinfo-background
{
	background-color: rgb(245, 245, 245);
	color: rgb(66, 66, 66);
}
.gameinfo-background.dark
{
	background-color: rgb(59, 63, 69);
	color: white;
}

.dl-progress-type-icon
{
	padding: 4px;
	background-color: #ddd;
	border-radius: 50%;
	border: 1px #aaa solid;
}

GtkListBox.gameinfo-content-list,
list.gameinfo-content-list
{
	background: transparent;
}
GtkListBox.gameinfo-content-list .list-row,
list.gameinfo-content-list row
{
	background: transparent;
	border-bottom: 1px alpha(#888, 0.2) solid;
	outline: none;
	padding: 0;
	margin: 0;
}
GtkListBox.gameinfo-content-list .list-row:last-child,
list.gameinfo-content-list row:last-child
{
	border-bottom: none;
}
GtkListBox.gameinfo-content-list .list-row:selected,
list.gameinfo-content-list row:selected
{
	outline: none;
}
GtkListBox.gameinfo-content-list .list-row:focus,
list.gameinfo-content-list row:focus
{
	background: transparent;
	outline: none;
}
GtkListBox.gameinfo-content-list .list-row:hover,
list.gameinfo-content-list row:hover
{
	background: alpha(#888, 0.1);
}

.gameinfo-content-list .progress
{
	border: none;
	outline: none;
	background: alpha(#888, 0.2);
	opacity: 0;
	transition: 100ms;
}
.gameinfo-content-list .progress.downloading
{
	opacity: 1;
}

.gameinfo-toolbar
{
	border: none;
	border-bottom: 1px alpha(#333, 0.3) solid;
	box-shadow: none;
	border-radius: 0;
	padding: 8px 16px;
	margin: 0;
	background: alpha(#333, 0.1);
}

.gameinfo-toolbar revealer, .gameinfo-toolbar box
{
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	background: transparent;
}

.dark .gameinfo-toolbar
{
	border-bottom: 1px alpha(#333, 0.8) solid;
	background: alpha(#333, 0.3);
}

dialog .gameinfo-toolbar, dialog .dark .gameinfo-toolbar
{
	background: transparent;
}

GtkListBox.tags-list,
list.tags-list
{
	background: transparent;
}
GtkListBox.tags-list .list-row,
list.tags-list row
{
	background: transparent;
	outline: none;
	padding: 0;
	margin: 0;
	border-radius: 2px;
}
GtkListBox.tags-list.not-rounded .list-row,
list.tags-list.not-rounded row
{
	border-radius: 0;
}
GtkListBox.tags-list .list-row:last-child,
list.tags-list row:last-child
{
	border-bottom: none;
}
GtkListBox.tags-list .list-row:selected,
list.tags-list row:selected
{
	outline: none;
}
GtkListBox.tags-list .list-row:focus,
list.tags-list row:focus
{
	background: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
	outline: none;
}
GtkListBox.tags-list .list-row:hover,
list.tags-list row:hover
{
	background: alpha(#888, 0.1);
}
GtkListBox.tags-list .list-row:focus:hover,
list.tags-list row:focus:hover
{
	background: shade(@theme_selected_bg_color, 0.9);
}

.tags-list-header.hover
{
	background: alpha(#888, 0.1);
}
.tags-list-header label
{
	padding: 2px 0;
}
.tags-list-header:focus
{
	background: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}
.tags-list-header.hover:focus
{
	background: shade(@theme_selected_bg_color, 0.9);
}
.tags-list-header:focus label
{
	color: @theme_selected_fg_color;
}

GtkListBox.overlays-list,
list.overlays-list
{
	background: transparent;
}
GtkListBox.overlays-list .list-row,
list.overlays-list row
{
	background: transparent;
	outline: none;
	padding: 0;
	margin: 0;
	border-radius: 2px;
	border-bottom: 1px alpha(#888, 0.2) solid;
}
GtkListBox.overlays-list .list-row:last-child,
list.overlays-list row:last-child
{
	border-bottom: none;
}
GtkListBox.overlays-list .list-row:selected,
list.overlays-list row:selected
{
	outline: none;
}
GtkListBox.overlays-list .list-row:hover,
list.overlays-list row:hover
{
	background: alpha(#888, 0.1);
}

.link, .link label
{
	padding: 0;
}

button.file label
{
	padding: 0 2px;
}

checkbutton:not(.default-padding), checkbutton:not(.default-padding) check
{
	padding: 0;
	margin: 0;
}

dialog .sidebar,
dialog .sidebar list
{
	background: transparent;
}
