<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>Anatoliy Kashkin</vendor>
	<vendor_url>https://tkashkin.github.io/projects/gamehub</vendor_url>
	<icon_name>@RDNN@</icon_name>

	<action id="@RDNN@.polkit.overlayfs-helper">
		<description>Manage overlays</description>
		<message>Authentication is required to manage overlays</message>
		<defaults>
			<allow_any>yes</allow_any>
			<allow_inactive>yes</allow_inactive>
			<allow_active>yes</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">@BINDIR@/@RDNN@-overlayfs-helper</annotate>
	</action>
</policyconfig>
